h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
    font-weight: normal;
    color: silver;
}

.content {
    font-size: 16px;
    color: white;
    text-align: center;
}

.details {
    font-weight: lighter;
}

.indicator {
    font-weight: bold;
    border-radius: 5px;
    line-height: 3em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: underline;
}


/**
 * With thanks to http://www.colorzilla.com/gradient-editor/
 */
.unknown {
    background: #dddddd;
    background: -moz-linear-gradient(top,  #dddddd 0%, #999999 15%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(15%,#999999), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top,  #dddddd 0%,#999999 15%,#dddddd 100%);
    background: -o-linear-gradient(top,  #dddddd 0%,#999999 15%,#dddddd 100%);
    background: -ms-linear-gradient(top,  #dddddd 0%,#999999 15%,#dddddd 100%);
    background: linear-gradient(to bottom,  #dddddd 0%,#999999 15%,#dddddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#dddddd',GradientType=0 );
}
.healthy {
    background: #80ff1f;
    background: -moz-linear-gradient(top,  #80ff1f 0%, #47aa00 15%, #80ff1f 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80ff1f), color-stop(15%,#47aa00), color-stop(100%,#80ff1f));
    background: -webkit-linear-gradient(top,  #80ff1f 0%,#47aa00 15%,#80ff1f 100%);
    background: -o-linear-gradient(top,  #80ff1f 0%,#47aa00 15%,#80ff1f 100%);
    background: -ms-linear-gradient(top,  #80ff1f 0%,#47aa00 15%,#80ff1f 100%);
    background: linear-gradient(to bottom,  #80ff1f 0%,#47aa00 15%,#80ff1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ff1f', endColorstr='#80ff1f',GradientType=0 );
}
.unhealthy {
    background: #ff4444;
    background: -moz-linear-gradient(top,  #ff4444 0%, #ba0000 15%, #ff4444 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4444), color-stop(15%,#ba0000), color-stop(100%,#ff4444));
    background: -webkit-linear-gradient(top,  #ff4444 0%,#ba0000 15%,#ff4444 100%);
    background: -o-linear-gradient(top,  #ff4444 0%,#ba0000 15%,#ff4444 100%);
    background: -ms-linear-gradient(top,  #ff4444 0%,#ba0000 15%,#ff4444 100%);
    background: linear-gradient(to bottom,  #ff4444 0%,#ba0000 15%,#ff4444 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4444', endColorstr='#ff4444',GradientType=0 );
}
